* {
    margin: 0;
    padding: 0;
    outline: none;
    font-display: Arial, sans-serif;
}
body{
    width: 100%;
    }
.Column2{
    width: 40%;
    float: left;
}
.circle{
    margin-top: 100px;
    margin-left: 100px;
    height: 194px;
    width: 194px;
    border-radius: 109px;
    background: #3d6cb0;
    border: double 8px white;
}
.name1{
    margin-top: 30px;
    font-size: 38px;
    margin-left: 90px;
}
.name2{
    font-weight: bold;
    font-size: 42px;
    margin-left: 90px;
}
.name3{
    margin-left: 110px;
    font-size: 24px; 
}
.iconka1{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='311.541px' height='311.541px' viewBox='0 0 311.541 311.541' style='enable-background:new 0 0 311.541 311.541;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath d='M155.771,26.331C69.74,26.331,0,96.071,0,182.102c0,37.488,13.25,71.883,35.314,98.761 c3.404-27.256,30.627-50.308,68.8-61.225c13.946,12.994,31.96,20.878,51.656,20.878c19.233,0,36.894-7.487,50.698-19.936 c38.503,11.871,65.141,36.27,66.017,64.63c24.284-27.472,39.056-63.555,39.056-103.108 C311.541,96.071,241.801,26.331,155.771,26.331z M155.771,222.069c-9.944,0-19.314-2.732-27.634-7.464 c-20.05-11.409-33.855-34.756-33.855-61.711c0-38.143,27.583-69.176,61.489-69.176c33.909,0,61.489,31.033,61.489,69.176 c0,27.369-14.237,51.004-34.786,62.215C174.379,219.523,165.346,222.069,155.771,222.069z' style='fill: rgb(63, 111, 183);'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    margin-left: 50px;
    margin-top: 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-size: 100%;
    background-position: left;
}
.profile1{
    margin-top: -40px;
    margin-left: 70px;
    font-size: 28px;
    float: left;
    color: #3f6fb7;
    padding-left: 35px;
    font-weight: bold;
}
.line1{
    width: 130px;
    border: 3px solid #3f6fb7;
    float: left;
    margin-left: 228px;
    margin-top: -28px;
}
.text1{
    margin-left: 50px;
    margin-top: 18px;
    font-size: 14px;
}
.bold{
    font-weight: bold;
}

.iconka2{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='485.213px' height='485.212px' viewBox='0 0 485.213 485.212' style='enable-background:new 0 0 485.213 485.212;' xml:space='preserve'%3e%3cg%3e%3cpath d='M242.607,0C108.629,0,0.001,108.628,0.001,242.606c0,133.976,108.628,242.606,242.606,242.606 c133.978,0,242.604-108.631,242.604-242.606C485.212,108.628,376.585,0,242.607,0z M370.719,353.989l-19.425,19.429 c-3.468,3.463-13.623,5.624-13.949,5.624c-61.452,0.536-120.621-23.602-164.095-67.08c-43.593-43.618-67.759-102.998-67.11-164.657 c0-0.028,2.224-9.892,5.689-13.324l19.424-19.427c7.108-7.141,20.762-10.368,30.327-7.168l4.086,1.363 c9.537,3.197,19.55,13.742,22.185,23.457l9.771,35.862c2.635,9.743-0.919,23.604-8.025,30.712l-12.97,12.972 c12.734,47.142,49.723,84.138,96.873,96.903l12.965-12.975c7.141-7.141,20.997-10.692,30.719-8.061l35.857,9.806 c9.717,2.67,20.26,12.62,23.456,22.154l1.363,4.145C381.028,333.262,377.826,346.913,370.719,353.989z' style='fill: rgb(63, 111, 183);'%3e%3c/path%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    margin-left: 50px;
    margin-top: 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-size: 100%;
    background-position: left;
}
.contact1{
    margin-top: -40px;
    margin-left: 70px;
    font-size: 28px;
    float: left;
    color: #3f6fb7;
    padding-left: 35px;
    font-weight: bold;
}
.line2{
    width: 110px;
    border: 3px solid #3f6fb7;
    float: left;
    margin-left: 255px;
    margin-top: -28px;
}
.address{
    margin-left: 50px;
    margin-top: 50px;
    color: #006cb3;
    font-size: 20px;
    font-weight: bold;
}
.text2{
    font-size: 18px;
    margin-left: 140px;
    margin-top: -23px;
    padding-left: 20px;
}
.e-mail1{
    margin-left: 50px;
    margin-top: 50px;
    color: #006cb3;
    font-size: 20px;
    font-weight: bold;
}
.text3{
    font-size: 18px;
    margin-left: 140px;
    margin-top: -23px;
    padding-left: 20px;
}
.phone1{
    margin-left: 50px;
    margin-top: 50px;
    color: #006cb3;
    font-size: 20px;
    font-weight: bold;
}
.number{
    font-size: 18px;
    margin-left: 140px;
    margin-top: -23px;
    padding-left: 20px;
}
.site{
    margin-left: 50px;
    margin-top: 50px;
    color: #006cb3;
    font-size: 20px;
    font-weight: bold;
}
.text4{
    font-size: 18px;
    margin-left: 140px;
    margin-top: -23px;
    padding-left: 20px;
}
.iconka3{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='792px' height='792px' viewBox='0 0 792 792' style='enable-background:new 0 0 792 792;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cg%3e%3cpath d='M324.082,693.799c-6.832,0-12.401-5.543-12.401-12.375s5.543-12.375,12.401-12.375h143.86 c6.832,0,12.375,5.543,12.375,12.375s-5.543,12.375-12.375,12.375H324.082z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M340.066,742.912c-6.832,0-12.375-5.543-12.375-12.375s5.569-12.375,12.375-12.375h111.891 c6.832,0,12.375,5.543,12.375,12.375s-5.543,12.375-12.375,12.375H340.066z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M384.358,571.828c0,6.807-5.517,12.323-12.323,12.323c-6.806,0-12.323-5.518-12.323-12.323 c-0.052-52.104-1.547-91.033-8.74-127.076c-7.115-35.629-19.852-68.655-42.461-109.39c-3.3-5.955-1.16-13.458,4.77-16.758 c5.956-3.3,13.458-1.16,16.784,4.77c24.002,43.261,37.589,78.479,45.168,116.558 C382.734,477.521,384.307,517.894,384.358,571.828z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M432.312,571.828c0,6.807-5.518,12.323-12.323,12.323s-12.323-5.518-12.323-12.323 c0.053-53.936,1.624-94.282,9.126-131.896c7.58-38.079,21.167-73.295,45.169-116.558c3.301-5.955,10.828-8.095,16.759-4.77 c5.956,3.3,8.068,10.828,4.77,16.758c-22.61,40.734-35.346,73.787-42.462,109.39 C433.859,480.795,432.339,519.725,432.312,571.828z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M315.523,341.112c-6.497-2.063-10.055-9.023-7.992-15.521c2.088-6.497,9.023-10.055,15.521-7.992 c8.611,2.785,16.062,6.523,22.945,9.978l0.67,0.361c10.75,5.414,19.697,9.642,26.348,4.228l15.211-12.401 c5.285-4.279,13.073-3.48,17.351,1.805c4.28,5.285,3.48,13.071-1.805,17.351l-15.211,12.401 c-18.949,15.417-34.444,7.915-53.109-1.444l-0.567-0.258C328.852,346.577,322.303,343.303,315.523,341.112z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M408.388,60.328c0,6.832-5.543,12.375-12.376,12.375c-6.832,0-12.375-5.543-12.375-12.375V12.375 C383.637,5.543,389.18,0,396.012,0c6.834,0,12.376,5.543,12.376,12.375V60.328z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M468.974,317.599c6.497-2.088,13.458,1.496,15.521,7.992c2.088,6.497-1.495,13.458-7.992,15.521 c-6.779,2.191-13.328,5.491-19.388,8.534l-0.566,0.258c-18.641,9.358-34.16,16.887-53.109,1.443l-15.211-12.4 c-5.285-4.28-6.084-12.066-1.805-17.351c4.28-5.285,12.066-6.084,17.352-1.805l15.211,12.401 c6.652,5.414,15.572,1.16,26.349-4.228l0.672-0.361C452.912,324.122,460.362,320.384,468.974,317.599z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M551.706,192.354c39.832,39.832,64.505,94.901,64.505,155.693c0,23.771-3.815,46.741-10.828,68.27 c-7.244,22.249-17.995,43.003-31.53,61.515c-22.713,31.066-41.146,51.459-55.455,67.313 c-25.756,28.488-37.048,40.968-37.048,82.63c0,6.832-5.543,12.375-12.375,12.375h-0.311h-72.11h-72.445 c-6.832,0-12.401-5.543-12.401-12.375c0-41.25-11.524-53.857-37.099-81.882l-0.026-0.025l-0.026,0.025 c-14.463-15.829-33.077-36.223-56.358-68.062c-13.535-18.512-24.286-39.291-31.53-61.54 c-7.013-21.502-10.828-44.499-10.828-68.243c0-29.751,5.956-58.214,16.732-84.202l0.232-0.49 c11.189-26.813,27.483-50.944,47.566-71.001c20.213-20.212,44.473-36.558,71.492-47.747v-0.026 c25.987-10.776,54.45-16.732,84.202-16.732c29.702,0,58.137,5.956,84.151,16.732 C507.182,155.771,531.493,172.142,551.706,192.354L551.706,192.354z M591.435,348.047c0-53.96-21.89-102.815-57.234-138.188 c-18.071-18.073-39.6-32.613-63.422-42.462c-22.945-9.513-48.211-14.772-74.767-14.772c-26.529,0-51.794,5.259-74.714,14.772 v-0.025l-0.052,0.025c-23.822,9.849-45.323,24.389-63.396,42.462c-17.892,17.892-32.355,39.239-42.23,62.803l-0.258,0.67 c-9.487,22.919-14.772,48.185-14.772,74.714c0,21.192,3.377,41.611,9.565,60.611c6.471,19.773,15.984,38.183,27.947,54.579 c22.353,30.576,40.554,50.506,54.708,66.025l-0.026,0.025c27.534,30.087,41.224,45.143,43.364,86.135h60.354h60.354 c2.114-41.275,15.546-56.177,43.209-86.754c13.819-15.288,31.582-34.959,53.832-65.381 c11.962-16.371,21.476-34.779,27.921-54.553C588.058,389.658,591.435,369.265,591.435,348.047z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M356.051,792c-6.832,0-12.375-5.543-12.375-12.375s5.543-12.375,12.375-12.375h79.923 c6.832,0,12.375,5.543,12.375,12.375S442.806,792,435.974,792H356.051z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M547.839,104.285c-3.379,5.878-10.933,7.915-16.837,4.538c-5.878-3.377-7.913-10.931-4.536-16.835l23.977-41.533 c3.377-5.878,10.932-7.915,16.835-4.538c5.904,3.377,7.915,10.931,4.538,16.835L547.839,104.285z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M265.533,92.013c3.377,5.878,1.367,13.432-4.538,16.81c-5.878,3.377-13.432,1.34-16.809-4.538l-23.977-41.534 c-3.377-5.878-1.341-13.432,4.538-16.809c5.904-3.377,13.458-1.341,16.835,4.537L265.533,92.013z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M157.69,190.781c5.878,3.377,7.915,10.931,4.538,16.835c-3.377,5.878-10.932,7.915-16.81,4.538l-41.534-23.977 c-5.904-3.377-7.94-10.931-4.563-16.809c3.377-5.904,10.931-7.915,16.835-4.538L157.69,190.781z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M646.606,212.154c-5.904,3.377-13.458,1.341-16.835-4.538c-3.378-5.904-1.341-13.458,4.537-16.835l41.534-23.977 c5.902-3.377,13.456-1.341,16.835,4.538c3.377,5.878,1.341,13.458-4.538,16.835L646.606,212.154z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M267.441,396.954c2.63,6.265-0.309,13.509-6.574,16.139c-6.265,2.63-13.509-0.31-16.139-6.574 c-4.203-9.95-7.477-20.443-9.643-31.271c-2.14-10.699-3.3-21.63-3.3-32.613c0-6.832,5.569-12.375,12.375-12.375 c6.832,0,12.375,5.569,12.375,12.375c0,9.668,0.954,18.975,2.733,27.792C261.099,379.603,263.883,388.523,267.441,396.954 L267.441,396.954z M267.441,288.286c-2.629,6.265-9.874,9.204-16.139,6.574c-6.265-2.63-9.204-9.875-6.574-16.139 c4.15-9.823,9.229-19.13,15.03-27.767l0.026-0.026l-0.026-0.025c5.956-8.817,12.71-17.016,20.109-24.415 c7.322-7.322,15.521-14.077,24.44-20.083v-0.026c8.56-5.775,17.918-10.854,27.818-15.03c9.926-4.203,20.393-7.477,31.247-9.643 c10.699-2.166,21.682-3.3,32.639-3.3c6.834,0,12.376,5.543,12.376,12.375c0,6.832-5.543,12.375-12.376,12.375 c-9.694,0-19.026,0.954-27.818,2.707c-9.204,1.831-18.099,4.641-26.503,8.198c-8.172,3.455-16.062,7.76-23.564,12.813l0,0H318.1 c-7.296,4.898-14.257,10.673-20.702,17.119c-6.368,6.368-12.143,13.355-17.119,20.754l-0.026-0.026 C275.227,272.173,270.921,280.062,267.441,288.286z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    margin-left: 50px;
    margin-top: 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-size: 100%;
    background-position: left;
    background-color: #006cb3;
    border-radius: 50%; 
}
.experience1{
    margin-top: -40px;
    margin-left: 70px;
    font-size: 28px;
    float: left;
    color: #3f6fb7;
    padding-left: 35px;
    font-weight: bold;
}
.line3{
    width: 130px;
    border: 3px solid #3f6fb7;
    float: left;
    margin-left: 230px;
    margin-top: -28px;
}
.skill1{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.circle-blue1{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 70px;
}
.circle-blue2{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: -15px;
}
.circle-blue3{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 110px;
    margin-top: -15px;
}
.circle-blue4{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 130px;
    margin-top: -15px;
}
.circle-blue5{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: -15px;
}
.circle-blue6{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 170px;
    margin-top: -15px;
}
.circle-blue7{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 190px;
    margin-top: -15px;
}
.circle-blue8{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 210px;
    margin-top: -15px;
}
.circle-blue9{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 230px;
    margin-top: -15px;
}
.circle-grey1{
    width: 15px;
    height: 15px;
    background: rgb(199, 197, 197);
    border-radius: 50%;
    margin-left: 250px;
    margin-top: -15px;
}
.circle-grey2{
    width: 15px;
    height: 15px;
    background: rgb(199, 197, 197);
    border-radius: 50%;
    margin-left: 270px;
    margin-top: -15px;
}
.circle-grey3{
    width: 15px;
    height: 15px;
    background: rgb(199, 197, 197);
    border-radius: 50%;
    margin-left: 290px;
    margin-top: -15px;
}
.skill2{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 150px;
    font-size: 20px; 
    font-weight: bold;
}
.circle-blue10{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 70px;
}
.circle-blue11{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: -15px;
}
.circle-blue12{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 110px;
    margin-top: -15px;
}
.circle-blue13{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 130px;
    margin-top: -15px;
}
.circle-blue14{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: -15px;
}
.circle-blue15{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 170px;
    margin-top: -15px;
}
.circle-blue16{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 190px;
    margin-top: -15px;
}
.circle-blue17{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 210px;
    margin-top: -15px;
}
.circle-blue18{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 230px;
    margin-top: -15px;
}
.circle-blue19{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 250px;
    margin-top: -15px;
}
.circle-blue20{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 270px;
    margin-top: -15px;
}
.circle-grey21{
    width: 15px;
    height: 15px;
    background: rgb(199, 197, 197);
    border-radius: 50%;
    margin-left: 290px;
    margin-top: -15px;
}

.skill3{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 150px;
    font-size: 20px; 
    font-weight: bold;
}
.circle-blue21{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 70px;
}
.circle-blue22{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: -15px;
}
.circle-blue23{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 110px;
    margin-top: -15px;
}
.circle-blue24{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 130px;
    margin-top: -15px;
}
.circle-blue25{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: -15px;
}
.circle-blue26{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 170px;
    margin-top: -15px;
}
.circle-grey27{
    width: 15px;
    height: 15px;
    background: rgb(199, 197, 197);
    border-radius: 50%;
    margin-left: 190px;
    margin-top: -15px;
}
.circle-grey28{
    width: 15px;
    height: 15px;
    background: rgb(199, 197, 197);
    border-radius: 50%;
    margin-left: 210px;
    margin-top: -15px;
}
.circle-grey29{
    width: 15px;
    height: 15px;
    background: rgb(199, 197, 197);
    border-radius: 50%;
    margin-left: 230px;
    margin-top: -15px;
}
.circle-grey30{
    width: 15px;
    height: 15px;
    background: rgb(199, 197, 197);
    border-radius: 50%;
    margin-left: 250px;
    margin-top: -15px;
}
.circle-grey31{
    width: 15px;
    height: 15px;
    background: rgb(199, 197, 197);
    border-radius: 50%;
    margin-left: 270px;
    margin-top: -15px;
}
.circle-grey32{
    width: 15px;
    height: 15px;
    background: rgb(199, 197, 197);
    border-radius: 50%;
    margin-left: 290px;
    margin-top: -15px;
}

.skill-last{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 100px;
    font-size: 20px; 
    font-weight: bold;
}
.circle-blue33{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 70px;
}
.circle-blue34{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: -15px;
}
.circle-blue35{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 110px;
    margin-top: -15px;
}
.circle-blue36{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 130px;
    margin-top: -15px;
}
.circle-blue37{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: -15px;
}
.circle-blue38{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 170px;
    margin-top: -15px;
}
.circle-blue39{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 190px;
    margin-top: -15px;
}
.circle-blue40{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 210px;
    margin-top: -15px;
}
.circle-blue41{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 230px;
    margin-top: -15px;
}
.circle-blue42{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 250px;
    margin-top: -15px;
}
.circle-blue43{
    width: 15px;
    height: 15px;
    background: #006cb3;
    border-radius: 50%;
    margin-left: 270px;
    margin-top: -15px;
}
.circle-grey44{
    width: 15px;
    height: 15px;
    background: rgb(199, 197, 197);
    border-radius: 50%;
    margin-left: 290px;
    margin-top: -15px;
}

.Column1{
    width: 60%;
    float: left;
}

.iconka4{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 406.125 406.125' style='enable-background:new 0 0 406.125 406.125;' xml:space='preserve'%3e%3cg%3e%3cpath style='fill: rgb(255, 255, 255);' d='M260.133,155.967c-4.487,0-9.25-3.463-10.64-7.73L205.574,13.075c-1.39-4.268-3.633-4.268-5.023,0 L156.64,148.237c-1.39,4.268-6.153,7.73-10.64,7.73H3.88c-4.487,0-5.186,2.138-1.553,4.78l114.971,83.521 c3.633,2.642,5.454,8.242,4.064,12.51L77.452,391.932c-1.39,4.268,0.431,5.592,4.064,2.951l114.971-83.521 c3.633-2.642,9.519-2.642,13.152,0l114.971,83.529c3.633,2.642,5.454,1.317,4.064-2.951l-43.911-135.154 c-1.39-4.268,0.431-9.868,4.064-12.51l114.971-83.521c3.633-2.642,2.934-4.78-1.553-4.78H260.133V155.967z'%3e%3c/path%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    margin-top: 80px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-size: 100%;
    background-position: left;
    background-color: #006cb3;
    border-radius: 50%;
}
.skill5{
    margin-top: -40px;
    margin-left: 60px;
    font-size: 28px;
    float: left;
    color: #3f6fb7;
    font-weight: bold;
}
.line4{
    width: 230px;
    border: 3px solid #3f6fb7;
    float: left;
    margin-left: 228px;
    margin-top: -28px;
}
.figure1{
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 20px;
}

.university1{
    color: #006cb3;
    font-size: 26px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: -24px;
}
.period1{
    color: black;
    font-size: 24px;
    margin-top: -28px;
    margin-left: 300px;
}
.establish1{
    color: black;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 50px;
}
.text5{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 50px;
}
.iconka5{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='50.244px' height='50.244px' viewBox='0 0 50.244 50.244' style='enable-background:new 0 0 50.244 50.244;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cg%3e%3cpath d='M27.587,29.787v-1.117c0-1.36-1.104-2.463-2.463-2.463c-1.361,0-2.464,1.103-2.464,2.463v1.117 c0,1.359,1.103,2.463,2.464,2.463C26.483,32.25,27.587,31.147,27.587,29.787z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M29.276,31.149c-0.545,1.787-2.19,3.1-4.152,3.1c-1.963,0-3.608-1.312-4.154-3.1H4.001c-1.071,0-2.083-0.249-2.991-0.681 v11.267c0,2.2,1.8,4,4,4h40.226c2.2,0,4-1.8,4-4V30.469c-0.908,0.432-1.92,0.681-2.99,0.681L29.276,31.149L29.276,31.149z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpath d='M46.078,10.917h-9.602c-0.579-3.626-3.722-6.408-7.508-6.408h-7.694c-3.787,0-6.927,2.782-7.508,6.408h-9.6 c-2.292,0-4.167,1.8-4.167,4v9.233c0,2.208,1.791,4,4,4h16.78c0.057-1.149,0.551-2.186,1.332-2.933 c0.024-0.022,0.052-0.041,0.077-0.063c0.173-0.159,0.353-0.309,0.55-0.439c0.07-0.047,0.15-0.079,0.223-0.121 c0.162-0.093,0.322-0.19,0.497-0.262c0.137-0.057,0.285-0.09,0.429-0.133c0.124-0.037,0.242-0.086,0.371-0.112 C24.538,24.03,24.827,24,25.122,24c0.296,0,0.584,0.031,0.863,0.087c0.128,0.026,0.247,0.075,0.372,0.112 c0.144,0.043,0.29,0.076,0.429,0.134c0.174,0.072,0.333,0.168,0.495,0.261c0.073,0.043,0.153,0.075,0.225,0.122 c0.197,0.129,0.376,0.279,0.549,0.438c0.025,0.023,0.056,0.041,0.078,0.065c0.782,0.748,1.275,1.782,1.332,2.933h16.78 c2.209,0,4-1.791,4-4v-9.233C50.245,12.717,48.37,10.917,46.078,10.917z M17.619,10.917c0.51-1.541,1.947-2.664,3.657-2.664 h7.694c1.709,0,3.146,1.123,3.656,2.664H17.619z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    margin-top: 40px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-size: 100%;
    background-position: left;
    background-color: #006cb3;
    border-radius: 50%;
}
.skill6{
    margin-top: -40px;
    margin-left: 60px;
    font-size: 28px;
    float: left;
    color: #3f6fb7;
    font-weight: bold;
}
.line5{
    width: 230px;
    border: 3px solid #3f6fb7;
    margin-left: 300px;
    margin-top: -28px;
}
.figure5{
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 20px;
}
.figure6, .figure7{
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
}
.company1{
    color: black;
    font-size: 26px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: -24px;
}
.period5{
    color: black;
    font-size: 24px;
    margin-top: -28px;
    margin-left: 300px;
}
.firma1{
    color: black;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 50px;
}
.text9{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 50px;
}
.iconka6{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='44.934px' height='44.934px' viewBox='0 0 44.934 44.934' style='enable-background:new 0 0 44.934 44.934;' xml:space='preserve'%3e%3cg%3e%3cg id='Layer_93_60_'%3e%3cg%3e%3cpath d='M39.917,6.267H5.023v23.01h34.894V6.267z M36.379,25.739H8.56V9.803h27.819V25.739z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3cpolygon points='27.269,37.155 17.754,37.155 0,37.155 0,38.667 44.934,38.667 44.934,37.155 ' style='fill: rgb(255, 255, 255);'%3e%3c/polygon%3e%3cpath d='M39.91,30.345H22.964h-0.993H5.023l-4.753,6.35h44.395L39.91,30.345z M34.894,31.511h1.919v0.958h-1.919V31.511z M37.998,33.04v0.958h-1.9V33.04H37.998z M35.621,33.04v0.958h-1.918V33.04H35.621z M32.27,31.511h1.918v0.958H32.27V31.511z M32.998,33.04v0.958H31.08V33.04H32.998z M29.588,31.511h1.918v0.958h-1.918V31.511z M30.316,33.04v0.958h-1.918V33.04H30.316z M26.842,31.511h1.918v0.958h-1.918V31.511z M24.16,31.511h1.918v0.958H24.16V31.511z M24.887,33.04v0.958h-1.918V33.04H24.887z M21.536,31.511h1.917v0.958h-1.917V31.511z M22.263,33.04v0.958h-1.918V33.04H22.263z M18.854,31.511h1.918v0.958h-1.918V31.511 z M19.582,33.04v0.958h-1.918V33.04H19.582z M16.114,31.511h1.918v0.958h-1.918V31.511z M16.842,33.04v0.958h-1.918V33.04H16.842 z M13.433,31.511h1.918v0.958h-1.918V31.511z M14.16,33.04v0.958h-1.918V33.04H14.16z M10.809,31.511h1.918v0.958h-1.918V31.511z M11.537,33.04v0.958H9.619V33.04H11.537z M8.127,31.511h1.918v0.958H8.127V31.511z M6.936,33.04h1.919v0.958H6.936V33.04z M7.309,35.446H5.391v-0.959h1.918V35.446z M9.76,35.446H7.842v-0.959H9.76V35.446z M12.442,35.446h-1.918v-0.959h1.918V35.446z M15.066,35.446h-1.919v-0.959h1.918L15.066,35.446L15.066,35.446z M17.747,35.446h-1.918v-0.959h1.918V35.446z M25.625,35.446 h-7.056v-0.959h7.056V35.446z M25.65,33.04h1.918v0.958H25.65V33.04z M28.474,35.446h-1.918v-0.959h1.918V35.446z M31.221,35.446 h-1.918v-0.959h1.918V35.446z M33.902,35.446h-1.918v-0.959h1.918V35.446z M36.527,35.446h-1.918v-0.959h1.918V35.446z M38.949,35.446h-1.918v-0.959h1.918V35.446z' style='fill: rgb(255, 255, 255);'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    margin-top: 60px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-size: 100%;
    background-position: left;
    background-color: #006cb3;
    border-radius: 50%;
}
.skill7{
    margin-top: -40px;
    margin-left: 60px;
    font-size: 28px;
    float: left;
    color: #3f6fb7;
    font-weight: bold;
}
.line6{
    width: 230px;
    border: 3px solid #3f6fb7;
    margin-left: 300px;
    margin-top: -28px;
}
.program1{
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.program2{
    margin-left: 320px;
    margin-top: -65px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.program3{
    margin-top: 20px;
    font-size: 20px; 
    font-weight: bold;
}
.program4{
    margin-top: -52px;
    margin-left: 320px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.program5{
    margin-top: 30px;
    font-size: 20px; 
    font-weight: bold;
}
.program6{
    margin-top: -50px;
    margin-left: 320px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px
}
.result1_1{
    width: 205px;
    height: 17px;
    background-color: #006cb3;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}
.result1_2, .result2_2,.result3_2, .result4_2, .result5_2, .result6_2{
    background: rgb(199, 197, 197);
    width: 233px;
    height: 17px;
    z-index: 1;
    margin-top: -26px;
}
.result2{
    margin-left: 320px;
    margin-top: -18px;
}
.result2_1{
    width: 175px;
    height: 17px;
    background-color: #006cb3;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}
.result3{
    margin-top: 15px;
}
.result3_1{
    width: 145px;
    height: 17px;
    background-color: #006cb3;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}
.result4{
    margin-left: 320px;
    margin-top: -30px;
}
.result4_1{
    width: 120px;
    height: 17px;
    background-color: #006cb3;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}
.result5{
    margin-top: 15px;
}
.result5_1{
    width: 105px;
    height: 17px;
    background-color: #006cb3;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}
.result6{
    margin-left: 320px;
    margin-top: -30px;
}
.result6_1{
    width: 215px;
    height: 17px;
    background-color: #006cb3;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .text1 {
        font-size: 30px;
    }
}